@font-face {

    font-family: 'ZCOOL XiaoWei';
    
    src: url('./ZCOOLXiaoWei-Regular.ttf');
    
    }

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    touch-action:pan-y pinch-zoom;
}


.body{
    font-size: 100%;
    background-color: white;
    scrollbar-width: none; /* firefox */
  -ms-overflow-style: none; /* IE 10+ */
  overflow-x: hidden;
  overflow-y: auto;
}

p{
    -moz-user-select:none; 
-moz-user-select: none; 
-o-user-select:none; 
-khtml-user-select:none; 
-webkit-user-select:none; 
-ms-user-select:none; 
 user-select:none;
}

#homepagetext
 {
    color: #fff;
    position: relative;
    font-family: 'ZCOOL XiaoWei', serif;
    font-size: 4em;
    letter-spacing: 4px;
    overflow: hidden;
    background: linear-gradient(90deg, #111111, #fff, #111111);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 8s linear infinite;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(211, 19, 19, 0);
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
  }

  @keyframes animate {
    0% {
      background-position: -500%;
    }
    100% {
      background-position: 500%;
    }
  }

*::-webkit-scrollbar {
  display: none; /* Chrome Safari */
}

:root{scroll-behavior: smooth;}

.menu{
    z-index: 1;
}

.sidebar{
    position: fixed;
    z-index: 2;
    left: -250px;
    width: 250px;
    height: 100%;
    background: #111111;
    transition: all .5s ease;
    border-radius: 10px;
}

.sidebar header{
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 70px;
    background: #191919;
    user-select: none;
    border-radius: 10px;
    border-bottom:1px solid black;
}

.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-bottom: 1px solid black;
    transition: .4s;;
    margin-top: 5%;
    border-radius: 10px;
}

ul li{
    padding-right: 5%;
    padding-left: 3%;
}

ul li:hover a{
    padding-left: 50px;
    box-shadow: -5px -5px 9px rgba(40, 40, 40, 0.45), 5px 5px 9px rgba(41, 45, 52, 0.3);
}

.sidebar ul a i{
    margin-right: 16px;
}


#check{
    display: none;
}

label #btn{
    position: absolute;
    cursor: pointer;
}

label #btn{
    left: 5%;
    top: 5%;
    font-size: 50px;
    color: white;
    padding: 6px 12px;
    transition: all .5s;
}

label #btn:hover{
    color: #4e4e4e;
}


#check:checked ~ .sidebar{
    left: 0;
}

#check:checked ~ label #btn{
    left: 250px;
    opacity: 0;
    pointer-events: none;
    transition:all .5s;
}

#check:not(:checked) ~ label #btn{
    transition:all .5s;
}


#check:checked ~ section{
    margin-left: 250px;
}

.section{
    background:#141414;
    background-position: center;
    background-size: cover;
    height: 100vh;
    transition: all 1s;
    position: relative;
    z-index: 1;
}

.wrapper{
    position:relative;
    max-width: 100%;
    height:100vh;
    margin: 0 auto;
    overflow:hidden;
    
    
}


#container1,
#container2
 {
    max-width: 1300px;
    margin:0 auto;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.highcharts-figure,
.highcharts-data-table table {
    min-width: 380px;
    max-width: 600px;
    margin: 0 auto;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}


#loaddesk{
    position:absolute;
    width: 100%;
    height: 100vh;
    background-color: rgb(193, 23, 23);
    opacity: 100%;
    transition: all 1s;
    /* visibility:visible; */
    overflow:hidden;
    z-index: 10;
}
.loadnum{
    position: absolute;
    margin:0 auto;
    top: 73%;
    left:5%;
    font-size: 13em;
    /* opacity: 40%; */
    color: white;
}
.loadstr{
    position:absolute;
    /* opacity: 40%; */
    color: white;
    top: 70%;
    left: 5%;
    font-size: 1em; 
    margin: 0 auto;
    z-index: 8;
}
#loadimg{
    height:40%;
    position: absolute;
    left:50%;
    top:50%;
    opacity: 70%;
    transform: translate(-50%,-50%);
    transition:height 5s ease;
    z-index:9;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes floating {
    from { transform: translate(-50%,  -50%); }
    50%  { transform: translate(-50%, -45%); }
    to   { transform: translate(-50%, -50%); }    
}


#mask{
    background-color: black;
    height: 100%;
    width: 0%;
    transition: all .5s;
    z-index:7;
}

.background
 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
  }
  #container2{
      background-color: #141414;
      border-radius: 20px;
      box-shadow: -5px -5px 9px rgba(40, 40, 40, 0.45), 5px 5px 9px rgba(41, 45, 52, 0.3);
      z-index: 3;
  }

  #thanktext{
      font-size: 4em;
      color: #fff;
      /* font-family: 'ZCOOL XiaoWei', serif;   */
      position: absolute;
      top:40%;
      left: 50%;
      transform: translate(-50%,-50%);
      z-index: 3;
  }

  #logotext{

    font-size: 4em;
    color: #fff;
    font-family: 'ZCOOL XiaoWei', serif;  
    position: absolute;
    top:90%;
    left: 80%;
    transform: translate(-50%,-50%);
    z-index: 2;
  }

  #name{
    font-size: 3em;
    color: #fff;  
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
  }


  .nextpage {
    position: absolute;
    top: 80%;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb05 1.5s infinite;
    animation: sdb05 1.5s infinite;
    box-sizing: border-box;
    z-index:3 ;
    cursor: pointer;
  }
  @-webkit-keyframes sdb05 {
    0% {
      -webkit-transform: rotate(-45deg) translate(0, 0);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      -webkit-transform: rotate(-45deg) translate(-20px, 20px);
      opacity: 0;
    }
  }
  @keyframes sdb05 {
    0% {
      transform: rotate(-45deg) translate(0, 0);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: rotate(-45deg) translate(-20px, 20px);
      opacity: 0;
    }
  }


  
